{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'styles/first.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>

    <center>
        <div class="text-white bg-dark">
            <h1>Всі Блог</h1>
            <h2>Блоги для всіх та на різні теми</h2>
        </div>
    </center>
    <p></p>
    <center>
        <h2>Список найновіших блогів нашого ресурсу:</h2>
    </center>

    <center>
        <div class="row">
            {% for article in articles %}
            <div class="col-12 mb-3">
                {%if article.image%}
                    <img src="{{ article.image.url }}" class="img-fluid mb-2" alt="{{ article.name }}">
                {% endif %}
                <h1 class="mb-2">{{ article.name }}</h1>

                <div class="mb-3">
                    {% for category in article.category.all %}
                        <span class="badge bg-secondary me-1" style="font-size: 1.25rem; padding: 0.3rem 0.8rem;">{{ category.name }}</span>
                    {% endfor %}

                    {% for tag in article.tags.all %}
                        <span class="text-primary me-2" style="font-size: 1.25rem;">{{ tag.name }}</span>
                    {% endfor %}
                </div>

                <a href="{% url 'articles_detail_page' article.pk %}"><button class="btn btn-primary"><h4>Детальніше</h4></button></a>
                <p></p>
            </div>
            {% endfor %}
        </div>
    </center>

    <center>
        <div class="position-fixed top-0 start-0 p-3">
            <span style="font-size: 1.5rem; color: white;">☰</span>
            <a href="/articles/"><button class="btn text-white bg-dark"><h3>Більше блогів</h3></button></a>
        </div>
    </center>

    <div class="position-fixed top-0 end-0 p-3 shadow" style="z-index: 1050; background-color: dark; border: 1px solid white; color: white;">
        <div class="d-flex align-items-center gap-3">
            <h2 class="mb-0">Вхід та реєстрація</h2>
            {% if user.is_authenticated %}
            <a href="/logout/" class="btn btn-warning">Вихід</a>
            <a href="/profile/" class="btn btn-info">Профіль</a>
            {% else %}
            <a href="/login/" class="btn btn-info">Вхід</a>
            {% endif %}
            <a href="/registration/" class="btn btn-secondary">Реєстрація</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>