{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>

    <center>
        <h1>Форма для реєстрації</h1>
    </center>
    <p></p>
    <center>
        <form method="POST">
            {% csrf_token %}
    
            <div id = 'form-group'>
                <div class="form-group">
                    <label>Ім'я користувача</label>
                    <div class="form-control" id="exampleFormControlInput1">{{ form.username }}</div>
                </div>

                <p></p>

                <div class="form-group">
                    <label>Ім'я</label>
                    <div class="form-control" id="exampleFormControlInput1">{{ form.first_name }}</div>
                </div>

                <p></p>

                <div class="form-group">
                    <label>Прізвище</label>
                    <div class="form-control" id="exampleFormControlInput1">{{ form.last_name }}</div>
                </div>

                <p></p>

                <div class="form-group">
                    <label>Електронна пошта</label>
                    <div class="form-control" id="exampleFormControlInput1">{{ form.email }}</div>
                </div>

                <p></p>

                <div class="form-group">
                    <label>Пароль</label>
                    <div class="form-control" id="exampleFormControlInput1">{{ form.password1 }}</div>
                </div>

                <p></p>

                <div class="form-group">
                    <label>Повторитти пароль</label>
                    <div class="form-control" id="exampleFormControlInput1">{{ form.password2 }}</div>
                </div>

                <p></p>
                <button type="submit", class="btn btn-primary">Зареєструватися</button>
            </div>
        </form>
        <p></p>
        <a href="{% url 'main_page' %}"><button type="submit", class="btn btn-secondary">Назад</button></a>
    </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>