{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>

    <center>
        <h1>Оновлення статті</h1>
    </center>
    <p></p>
    <center>
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="POST", enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="form-group" class="mb-3">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Назва блогу</label>
                                <div class="form-control" id="exampleFormControlInput1">{{ form.name }}</div>
                            </div>

                            <p></p>

                            <div class="form-group">
                                <label>Текст</label>
                                <div class="form-control" id="exampleFormControlInput1">{{ form.text }}</div>
                            </div>

                            <p></p>

                            <div class="form-group">
                                <label for="exampleFormControlFile1">Фото</label>
                                <div class="form-control-file" id="exampleFormControlFile1">{{ form.image }}</div>
                            </div>

                            <p></p>

                            <div class="form-group">
                                <label>Категорія</label>
                                <div class="form-control" id="exampleFormControlSelect2">{{ form.category }}</div>
                            </div>

                            <p></p>

                            <div class="form-group">
                                <label>Тег</label>
                                <div class="form-control" id="exampleFormControlSelect2">{{ form.tags }}</div>
                            </div>

                            <p></p>

                            <div class="form-group">
                                <label>Стадія готовості</label>
                                <div class="form-control" id="exampleFormControlSelect1">{{ form.stage }}</div>
                            </div>
                    </div>

                    <p></p>
                    
                    <div class="d-flex justify-content-center gap-3">
                        <button type="submit" class="btn btn-warning">Оновити</button>
                        <a href="{% url 'articles_page' %}" class="btn btn-secondary">Назад</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</body>